@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  filter: opacity(0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.markdown__content :not(pre) code {
  background: #047857;
  color: white;
}

:root {
  --toastify-color-info: #059669 !important;
}
