@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles.
button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  filter: opacity(0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  From here forwards we have specific style adjustments being applied, like:
    1. Changes to the default markdown editor styles. (Add dark mode, change text style)
    2. Style fixes and adjustments for other libraries.

*/

// Fix keen-slider initial layout shift.
.keen-slider:not(.initialized) {
  gap: 15px;
}

// Change react-toastify info color.
:root {
  --toastify-color-info: theme("colors.emerald.600") !important;
}

// Set MD Editor to 100%
.rc-md-editor {
  width: 100%;

  .sec-html a {
    @apply underline font-bold text-emerald-700 dark:text-emerald-500;
  }

  .sec-md textarea {
    overflow-y: auto !important;
  }
}

// MD Editor responsiveness adjustments.
@media (max-width: 425px) {
  .rc-md-editor .editor-container {
    flex-direction: column;
  }

  .editor-container .sec-md {
    border-bottom: 1px solid #bcbcbc;
  }

  .editor-container .sec-md {
    textarea {
      border-right: none !important;
    }
  }
}

// Create new tailwind class for MD editor dark-mode styles.
@layer utilities {
  .md-dark-mode {
    @apply bg-neutral-900;

    .editor-container {
      .sec-html {
        @apply border-0;
      }

      .sec-md {
        @apply border-r border-neutral-800;

        @media (max-width: 425px) {
          @apply border-b border-neutral-800;
        }
      }

      .sec-md textarea {
        @apply bg-neutral-900 text-neutral-100;
      }
    }

    .rc-md-navigation {
      @apply bg-neutral-900 text-zinc-100;
    }
  }
}

// Apply prose to MD editor html preview.
.editor-container .html-section {
  @apply prose dark:prose-invert;
}

// Apply styles to router progress bar.
#nprogress .bar {
  background: theme("colors.emerald.500") !important;
  height: 3px !important;
}

// Remove exaggerated margin from checklist.
.prose {
  input[type="checkbox"] {
    @apply mt-0 mb-0;
  }
}
