@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  filter: opacity(0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.markdown__content :not(pre) code {
  background: #047857;
  color: white;
}

// Change react-toastify info color
:root {
  --toastify-color-info: #059669 !important;
}

// Set MD Editor to 100%
.rc-md-editor {
  width: 100%;

  .sec-md textarea {
    overflow-y: auto !important;
  }
}

// MD Editor responsiveness adjustments.
@media (max-width: 425px) {
  .rc-md-editor .editor-container {
    flex-direction: column;
  }

  .editor-container .sec-md {
    border-bottom: 1px solid #bcbcbc;
  }

  .editor-container .sec-md {
    textarea {
      border-right: none !important;
    }
  }
}

// Create new tailwind class for MD editor dark-mode styles.
@layer utilities {
  .md-dark-mode {
    background: #171717;

    .editor-container {
      .sec-html {
        background: #171717;
        border: none;

        .custom-html-style {
          color: #f4f4f5;
        }
      }

      .sec-md {
        border: none;

        @media (max-width: 425px) {
          border-bottom: 1px solid #232323 !important;
        }
      }

      .sec-md textarea {
        background: #171717 !important;
        color: #f4f4f5 !important;
        border-right: 1px solid #232323;
      }
    }

    .rc-md-navigation {
      background: #171717 !important;
      color: #f4f4f5 !important;
    }

    .custom-html-style {
      table th {
        background: #171717 !important;
      }

      blockquote p {
        color: #f4f4f5 !important;
      }

      pre,
      code {
        background-color: #0f172a;
      }
    }
  }
}
